<!doctype html>
<html lang=en xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Inicio de sesión y Registro</title>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css>
    <link rel=icon href=/images/icono.ico type=image/x-icon>
    <link rel=stylesheet th:href=@{/css/login.css}>
</head>
<body>
<main class=content>
    <div class=carousel-container>
        <div class=carousel>
            <div class="carousel-item active">
                <img src=/images/slider1.jpg alt="slider 1">
                <div class=carousel-buttons>
                    <button onclick=showImage(0)>◉</button>
                    <button onclick=showImage(1)>○</button>
                    <button onclick=showImage(2)>○</button>
                </div>
            </div>
            <div class=carousel-item>
                <img src=/images/slider2.jpg alt="slider 2">
                <div class=carousel-buttons>
                    <button onclick=showImage(0)>○</button>
                    <button onclick=showImage(1)>◉</button>
                    <button onclick=showImage(2)>○</button>
                </div>
            </div>
            <div class=carousel-item>
                <img src=/images/slider3.jpg alt="slider 3">
                <div class=carousel-buttons>
                    <button onclick=showImage(0)>○</button>
                    <button onclick=showImage(1)>○</button>
                    <button onclick=showImage(2)>◉</button>
                </div>
            </div>
        </div>
    </div>
    <div class=form-wrapper>
        <div class=container>
            <div class="form-container login-container">
                <div th:if=${registroExitoso} class=success-message>
                    <p>¡Cuenta creada con éxito! Ya puedes iniciar sesión.</p>
                </div>
                <div th:if=${error} class=error-message id=error-message>
                    <p th:text=${error}></p>
                </div>
                <h1>¡Bienvenidos!</h1>
                <form th:action=@{/essalud/login} method=post>
                    <p>Correo electrónico:</p>
                    <input type=email id=correo-login name=correo placeholder="Ingrese su correo..." required>
                    <br>
                    <p>Contraseña:</p>
                    <label class=password-label>
                        <input type=password name=contrasena id=pass placeholder="Ingresa la contraseña..." required>
                        <span class=show-btn><i class="fas fa-eye"></i></span>
                    </label>
                    <button type=submit>Iniciar sesión</button>
                    <p class=switch-form>¿No tienes cuenta? <a href=# id=show-register>Regístrate ahora</a></p>
                </form>
            </div>
            <div class="form-container register-container">
                <h1>Registro de cuenta</h1>
                <div id=dni-error class="error-message hidden">
                    El DNI ya está registrado.
                </div>
                <div id=correo-error class="error-message hidden">
                    El correo ya está registrado.
                </div>
                <form th:action=@{/essalud/registrar} method=post id=registerForm>
                    <div class=input-icon>
                        <input id=dni name=dni placeholder=DNI pattern=[0-9]{8} title="Debe tener 8 dígitos" required>
                        <span id=dni-icon class=validation-icon></span>
                    </div>
                    <input id=nombre name=nombre placeholder=Nombres required>
                    <input id=apellido name=apellido placeholder=Apellidos required>
                    <input type=email id=correo-register name=correo placeholder="Correo electrónico" required>
                    <label class=password-label>
                        <input type=password name=contrasena id=register-pass placeholder=Contraseña pattern="^(?=.*[0-9])(?=.*[!_.@#$%^&*]).{5,}$" title="La contraseña debe tener al menos 5 caracteres, incluir al menos un número y un carácter especial (._!@#$%^&*)">
                        <span class=show-btn><i class="fas fa-eye"></i></span>
                    </label>
                    <div class=g-recaptcha data-sitekey=6LdkODQrAAAAAE3-yhMUP3CCVSOKLjbdVBic6IVJ></div>
                    <button type=submit id=register-button>Registrarse</button>
                    <p class=switch-form>¿Ya tienes una cuenta? <a href=# id=show-login>Inicia sesión aquí</a></p>
                </form>
            </div>
        </div>
    </div>
</main>
<script src=/js/funcionesLogin.min.js></script>
<script src=https://www.google.com/recaptcha/api.js async defer></script>
</body>
</html>